html, body {
    height: 100%;
    margin:0;
    padding:0;
    background-color: #ebebeb;
    background-color: #f0f0f0;
    /*background: linear-gradient(to right, #bbbbbb, #eeeeee);*/
   
}

h1{
    color: white;
    margin: 0px;
    padding: 0px;
    margin-left: .5em;
}

h2{
    margin: 0px;
    padding: 0px;
}

main{
    position:relative;
    overflow-x: visible;
    overflow-y: auto;
    border: solid;
    border-width: 1px;
    border-color: black;
    width: 1300px;
    height: 640px;
    padding-top: 2em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-top:2em;
    margin-bottom:0em;
    border-radius: 12px;
    background-color: #302020;
    color: #000;
}

.searchresults{
    margin: auto;
    border: 1px solid black;
    border-radius: 8px;
    padding: 1em;
    text-align: center;
    width: auto;
    height: auto;
    background-color: #eee;
}

header{
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 4em;
    background: black;
    background: linear-gradient(to bottom, #202020, #302020);
    /*margin: .5em;
    margin:0 auto;*/
}

.logo{
    display: inline-block;
    float: left;
    margin-top: .4em;
}

.loginpage{
    margin: auto;
    border: 1px solid black;
    border-radius: 8px;
    padding: 1em;
    text-align: center;
    width: 300px;
    height: 240px;
    background-color: #eee;
}

.settingspage{
    margin: auto;
    border: 1px solid black;
    border-radius: 8px;
    padding: 1em;
    text-align: center;
    width: 410px;
    height: 240px;
    background-color: #eee;
}

.login{
    display: inline-block;
    float: right;
    color: #a0a0a0;
    font-size: 2em;
    font-weight: bold;
    margin-right: .6em;
    height: 2.3em;
}
.login input{
    display: inline-block;
}
.login span{
    display: inline-block;
    margin-top: .4em;
}

.searchbox{
    display: inline-block;
    float: left;
    vertical-align: top;
    margin-left: 3em;
    margin-top: 1em;
    margin-bottom: 1.5em;
    width: 24em;
    height: 2.3em;
}

.searchbutton{
    display: inline-block;
    float: left;
    vertical-align: top;
    margin-left: 1em;
    margin-top: 1.35em;
    width: 5em;
    height: 2em;
}

.log_button{
    vertical-align: top;
    width: 5em;
    height: 2em;
    font: bold;
    margin-top: 1.35em;
    margin-left: 1em;
}

footer{
    position: fixed;
    bottom: 0px;
    margin: .5em;
}

.account_settings{
    display: inline-block;
    float: left;
    width: 300px;
}

.edit_profile{
    width: 44.1em;
    margin-left: auto;
    margin-right: auto;
}

.left_heroes{
    display: inline-block;
    border: 1px solid black;
    border-radius: 8px;
    text-align: center;
    float: left;
    width: 21.4em;
    height: 30em;
    margin-top: 1em;
    background-color: #eee;
}
.right_heroes{
    display: inline-block;
    border: 1px solid black;
    border-radius: 8px;
    text-align: center;
    float: left;
    width: 21.4em;
    height: 30em;
    margin-top: 1em;
    margin-left: 1em;
    background-color: #eee;
}

.edit_hero{
    display: inline-block;
    width: 90%;
}
.edit_hero span{
    padding-left: 1em;
    float: left;
}
.edit_hero a{
    margin-right:1em;
    float: right;
}
.edit_hero input{
    margin-right:1em;
    float: right;
}

.search_result{
    position: relative;
    display: inline-block;
    width: 90%;
}
.heroname{
    position: absolute;
    left: 12em;
}
.search_result a{
    position: absolute;
    left: 18em;
}

.left_label{
    display: inline-block;
    float: left;
    text-align: right;
    width: 10.35em;
}

.left_button{
    display: inline-block;
    float: right;
    margin-top: .5em;
    margin-right: .1em;
}

.center_title{
    display: inline-block;
    text-align: center;
    font-weight: bolder;
    padding: 1em;
}


.right_button{
    display: inline-block;
    float: left;
    margin-top: .3em;
}

.right_content{
    display: inline-block;
    font-weight: bold;
    text-align: left;
    width: 15em;
    float: left;
}


.attribute{
    display: block;
    margin: .5em;
    padding: 0em;
    width: 92%;
    height: 20px;
}

.textleft{
    display: inline-block;
    float: left;
}

.textright{
    display: inline-block;
    float: right;
}

.nametext{
    font-size: 1.8em;
    font-weight: bold;
    color: cornflowerblue;
}

.buildtext{
    font-size: 1.5em;
    color: white;
}

.tagtext{
    font-size: .8em;
    color: cornflowerblue;
}